
body{
  
}
.personaequipo {
    background: antiquewhite;
    width: 135px;
    margin-bottom: 8px;
    height: 147px;
    border-radius: 12px;
    padding: 11px;
    float: left;
    margin-right: 10px;
}
.cargo {
    top: 26px;
    position: relative;
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 12px;
}

.nombre {
    top: 21px;
    position: relative;
    width: 100%;
    text-align: center;
    color: gray;
    font-style: italic;
}

img.imgpersona {
    width: 85px;
    height: 85px;
    left: 24px;
    position: relative;
    border-radius: 59px;
}


img.logoproducto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.item {
    float: left;
    background: #03a9f4;
    margin: 7px;
    border-radius: 4px;
    padding: 8px;
}

.cantidad {
    font-size: 8px;
    text-align: center;
}

.valor {
    font-size: 10px;
    text-align: center;
}

.total {
    font-size: 10px;
    text-align: center;
    color: red;
}